<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @closet, partial: "card", as: :closet %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "closets/closet_items" %>
  </div>
</div>
