<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @item_type, partial: "card", as: :item_type %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "item_types/item_type_items" %>
  </div>
</div>
