<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @lend_transaction, partial: "card", as: :lend_transaction %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
