<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Styles
  </div>

  <ul class="list-group list-group-flush">
    <% @user.styles.each do |style| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/styles/<%= style.id %>">
          <%= style %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
