<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Letter Sizes
  </div>

  <ul class="list-group list-group-flush">
    <% @user.letter_sizes.each do |letter_size| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/letter_sizes/<%= letter_size.id %>">
          <%= letter_size %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
