<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Preferences

    <a data-toggle="collapse" href="#style_preferences_new_form">
      Add preference
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @style.preferences.each do |preference| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to preference, preference %>

        <% if current_user == preference.user %>
          <%= link_to preference, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="style_preferences_new_form">
        <%= render partial: "styles/style_preferences_new_form" %>
      </div>
    </div>

  </ul>
</div>
