<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @style, partial: "card", as: :style %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "styles/style_items" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "styles/style_preferences" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "styles/style_users" %>
  </div>
</div>
