<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Saved Items

    <a data-toggle="collapse" href="#item_saved_items_new_form">
      Add saved item
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @item.saved_items.each do |saved_item| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to saved_item, saved_item %>

        <% if current_user == saved_item.user %>
          <%= link_to saved_item, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="item_saved_items_new_form">
        <%= render partial: "items/item_saved_items_new_form" %>
      </div>
    </div>

  </ul>
</div>
