<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @letter_size, partial: "card", as: :letter_size %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "letter_sizes/letter_size_preferences" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "letter_sizes/letter_size_items" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "letter_sizes/letter_size_users" %>
  </div>
</div>
